@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 210 20% 97%;
    --foreground: 210 10% 23%;

    --card: 0 0% 100%;
    --card-foreground: 210 10% 23%;

    --popover: 0 0% 100%;
    --popover-foreground: 210 10% 23%;

    --primary: 195 78% 27%;
    --primary-foreground: 0 0% 100%;

    --secondary: 210 20% 96%;
    --secondary-foreground: 210 10% 23%;

    --muted: 210 20% 93%;
    --muted-foreground: 210 10% 46%;

    --accent: 195 60% 35%;
    --accent-foreground: 0 0% 100%;

    --success: 134 61% 41%;
    --success-foreground: 0 0% 100%;

    --info: 215 61% 45%;
    --info-foreground: 0 0% 100%;

    --destructive: 6 78% 57%;
    --destructive-foreground: 0 0% 100%;

    --alert-bg: 6 79% 95%;
    --alert-foreground: 6 78% 57%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 195 78% 27%;

    --radius: 0.375rem;

    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: 240 5.3% 26.1%;

    --sidebar-primary: 240 5.9% 10%;

    --sidebar-primary-foreground: 0 0% 98%;

    --sidebar-accent: 240 4.8% 95.9%;

    --sidebar-accent-foreground: 240 5.9% 10%;

    --sidebar-border: 220 13% 91%;

    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 210 20% 97%;
    --foreground: 210 10% 23%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-sans;
    font-family: 'Roboto', 'Segoe UI', system-ui, -apple-system, sans-serif;
  }
}
